<!-- Toolbar -->
<head>
</head>

<body>
	
	<div id="toolbar" role="banner">
		<button class="logo" [routerLink]="['/']">
			<span class="title">Amasone</span>
			<img src="../assets/img/Amasone.png" alt="logo">
		</button>
		
		<div class="spacer"></div>
		<button *ngIf="currentUser" id="home-link" [routerLink]="['/addProduct']">
			<span>Ajouter un Produit</span>
			<!-- <fa-icon [icon]="homeIcon" class=""></fa-icon> -->
		</button>
		<button id="home-link" [routerLink]="['/']">
			<span>Accueil</span>
			<fa-icon [icon]="homeIcon" class=""></fa-icon>
		</button>
		<button class="connection" [routerLink]="['login']">
			<span>
				<ng-template [ngIf]="currentUser" [ngIfElse]="loggedOut">
					Bonjour, {{ currentUser.email }}
				</ng-template>
				<ng-template #loggedOut>
					Connexion
				</ng-template>
			</span>

			<fa-icon [icon]="userIcon" class="user-icon"></fa-icon>
		</button>
		
		<button class="cart-button" (click)="toggleCart()" id="cart-toggle">
			<span>Mon Panier</span>
			<fa-icon [icon]="cartIcon"></fa-icon>
			<div *ngIf="totalCartQuantity > 0"> 
				<span id="cart-count-indicator">{{ totalCartQuantity }}</span>
			</div>
		</button>
	</div>


	<div
		[ngClass]="{ 'cart-open': isCartOpen }"
	 	id="cart-container"
	>
		<cart #sidebarCart/>
	</div>


	<div id="content" role="main">
		<router-outlet></router-outlet>
	</div>
</body>