@import "variables.scss";

:host {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	color: #333;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// #home-link {
// 	border: none;
// }

#content {
	display: flex;
	margin: 82px auto 32px;
	padding: 0 16px;
	// max-width: 960px;
	flex-direction: column;
	align-items: center;
}

#cart-container {
    position: fixed;
    top: $toolbar-height;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: $sidebar-width;
    height: calc(100vh - $toolbar-height);
	box-sizing: border-box;
    border: 1px solid;
    border-color: black;
    border-radius: 15px 0 0 15px;
    overflow-y: scroll;
    background-color: white;

    padding: 1rem;

	&.cart-open {
		display: flex;
	}
}

#cart-count-indicator {
	position: absolute;
    display: flex;
    justify-content: center;
    top: 1rem;
    right: -1rem;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: red;
    margin-top: -1.2rem;
}

#cart-toggle {
	position: relative;
}

#toolbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $toolbar-height;
	display: flex;
	align-items: center;
	background-color: orange;
	font-weight: 600;
	padding: 0 2rem;
	z-index: 100;
	
	& * {
		color: white;
	}


	& img {
		margin: 0 16px;
		height: 50%;
		width: auto;
	}
}

