<div class="product-preview-store" *ngIf="product">

    <a [routerLink]="['/products', product.id]">
        <div class="product-preview-image-container">
            <img *ngIf="product.images && product.images[0] as image" src="{{ urlBase + image }}" class="product-preview-image" alt="">
        </div>
        
        <span class="product-preview-name">
            {{ product.name }}
        </span>
        <span class="product-preview-price">
            <span>{{ product.price }}</span><span>€</span>
        </span>
    </a>

    <ng-template [ngIf]="product.stock != 0" [ngIfElse]="noStock">

        <button (click)="addToCart()">
            <span>Ajouter au panier</span>
            <fa-icon [icon]="cartIcon"></fa-icon>
        </button>

        <span>
            <span>Stock: </span>
            <span
                [ngClass]="{'product-preview-stock-orange': product.stock > 0 && product.stock < 10,
                    'product-preview-stock-green': product.stock >= 10
                }"
            >
                {{ product.stock }}
            </span>
        </span>

    </ng-template>
    <ng-template #noStock>

        <button disabled>
            <span>Ajouter au panier</span>
            <fa-icon [icon]="cartIcon"></fa-icon>
        </button>

        <span class="product-preview-stock-red">
            Rupture de Stock
        </span>
        
    </ng-template>
</div>