


<div class="product-single" *ngIf="product$ | async as product">
    <ngx-slick-carousel class="product-single-image-carousel" *ngIf="product.images && product.images.length != 0">
        <div ngxSlickItem *ngFor="let image of product.images" alt="">
            <img src="{{ urlBase + image }}" class="product-single-image" alt="">
        </div>
    </ngx-slick-carousel>
    <div class="product-single-text">
        <div class="product-single-name">
            {{ product.name }}
        </div>
        <div class="product-single-price">
            {{product.price}}<span>€</span>
        </div>
        <div class="product-single-stock">
            <span>
                <span *ngIf="product.stock != 0">
                    <span>Stock: </span>
                    <span
                        [ngClass]="{'product-single-stock-orange': product.stock > 0 && product.stock < 10,
                                'product-single-stock-green': product.stock >= 10
                            }"
                    >
                            {{ product.stock }}
                    </span>
                </span>
                <span *ngIf="product.stock == 0" class="product-single-stock-red">
                    Rupture de Stock
                </span>
            </span>
        </div>
        <div class="product-single-description">
            {{ product.description }}
        </div>
    </div>
    <!-- <div class="product-single-image" *ngIf="product.images && product.images.length != 0">
        <img *ngFor="let image of product.images" src="{{ urlBase + image }}" class="product-preview-image" alt="">
    </div> -->
</div>