<div class="product-single" *ngIf="product">

    <ngx-slick-carousel class="product-single-image-carousel" *ngIf="product.images && product.images.length != 0">
        <div ngxSlickItem *ngFor="let image of product.images" alt="">
            <img src="{{ urlBase + image }}" class="product-single-image" alt="">
        </div>
    </ngx-slick-carousel>
    <div class="product-single-text">
        <div class="product-single-name">
            <span>{{ product.name }}</span>
        </div>
        <div class="product-single-price">
            <span>{{ product.price }}€</span>
        </div>
        <div class="product-single-stock">
            <span>
                <ng-template [ngIf]="product.stock != 0" [ngIfElse]="noStock">
                    
                    <span>Stock: </span>
                    <span
                        [ngClass]="{'product-single-stock-orange': product.stock > 0 && product.stock < 10,
                                'product-single-stock-green': product.stock >= 10
                            }"
                    >
                            {{ product.stock }}
                    </span>

                    <button (click)="addToCart()">
                        <span>Ajouter au panier</span>
                        <fa-icon [icon]="cartIcon"></fa-icon>
                    </button>

                </ng-template>
                <ng-template #noStock>
                    <span *ngIf="product.stock == 0" class="product-single-stock-red">
                        Rupture de Stock
                    </span>
                    <button disabled>
                        <span>Ajouter au panier</span>
                        <fa-icon [icon]="cartIcon"></fa-icon>
                    </button>
                </ng-template>
            </span>
        </div>
        <div class="product-single-description">
            <span>
                {{ product.description }}
            </span>
        </div>
    </div>
    
</div>